/** Add css rules here for your application. */
/* Add Stock panel */

/* scratchpad list header row */
.todoListHeaderRow {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

.toolbarPanel {
	margin-left: 10;
}

.stackPanel{
	margin-top: 20;
}

.logoutGeneralButton{
	margin-right: 10;
	margin-top: 10;
	
}

.generalDecoratorPanel{
	margin-top: 20;
}

/* toolbar Button*/
.toolbarTodoButton,.toolbarNoteButton,.toolbarGeneralButton {
 
  width: 150px;
  height: 25px;
}

/* toolbar List*/
.toolbarTodoList,.toolbarNoteList {
  width: 150px;
}

/* ToDoListDialog List*/
.ToDoListDialog_textArea {
  width: 250px;
  height: 150px;
}
.ToDoListDialog_dateBox {
  margin-left: 10px;
}


.ToDoListDialog_currentRow{
	background-color: #E5ECF9;
}

.ToDoListDialog_row{
	background-color: white;
}


